@import url('https://fonts.googleapis.com/css?family=Asap:400,400i,700,700i|Abril+Fatface|Volkhov:400i&display=swap');

:root {
    --primary-font: 'Asap', sans-serif;
    --secondary-font: 'Abril Fatface', cursive;
    --cursive-font: 'Volkhov', serif;

    --text-color: #444444;
    --gray-color: #aaaaaa;

    --bg-color: #F0F1EB;

    --color-1: #00AFBA;
    --color-2: #0DBF64;
    --color-3: #C44741;
}

body {
    background-color: var(--bg-color);
}

.reveal {
    font-family: var(--primary-font);
    color: var(--text-color);
}

.reveal em {
    font-family: var(--cursive-font);
    text-emphasis: italic;
    color: var(--gray-color);
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
    font-family: var(--secondary-font);
}

.reveal h1 {
    font-family: var(--secondary-font);
    font-size: 2.2em;
    text-transform: uppercase;
    font-weight: 700;
}

.reveal h2 {
    font-size: 1.5em;
}

.reveal h3 {
    font-size: 1.2em;
}

ul>li,
ol>li {
    margin-top: 0.5em;
}

ul>li>ul>li,
ol>li>ul>li {
    margin-top: 0;
}

.reveal .progress {
    height: 30px;
}

.first .reveal .progress,
.first .reveal h1,
.first .reveal h2,
.first .reveal h3,
.reveal #colorFirst {
    color: var(--color-1);
}


.second .reveal .progress,
.second .reveal h1,
.second .reveal h2,
.second .reveal h3,
.reveal #colorSecond {
    color: var(--color-2);
}

.third .reveal .progress,
.third .reveal h1,
.third .reveal h2,
.third .reveal h3,
.reveal #colorThird {
    color: var(--color-3);
}

#footer {
    position: absolute;
    bottom: 0;
    left: 0.5em;
    z-index: 666;
    font-size: 25px;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
}

#footer p {
    margin: 0;
}
